body {
    background-color: #E4E9F1;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container-wrap-board{
    background-color: #E4E9F1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.board-card__item {
    background-color: #F2EFF5;
    width: 298px;
    margin: 20px 15px;
}
.board-card__basic{
    width: 266px;
}

.board-card_addNewCard {
    display: block;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    background-color: #E4E9F1;
    border-radius: 4px;
    padding: 8px;
    transition: 0.5s;
}

.board-card_addNewCard:hover {
    background-color: rgb(32, 72, 119);
    color: #fff;
}

.newtask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: top 0.4s, opacity 0.4s;
}

.newtask-open {
    opacity: 1;
    visibility: visible;
}

.newtask-body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.newtask-content {
    background-color: rgb(211, 208, 208);
    color: #221c1d;
    max-width: 30,5%;
    padding: 30px;
    border-radius: 4px;
    position: relative;
}

.newtask-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    padding: 0 6px 2px 6px;
    color: #221c1d;
    border-radius: 50%;
    border: 1px solid rgb(32, 72, 119);
}

.newtask-title,
.newtask-description {
    margin-bottom: 15px;
}

#newtask-title_in,
#newtask-description_in {
    display: block;
    border: none;
    background-color: rgba(206, 229, 255, 0.9);
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
}

.newtask-title_p,
.newtask-description_p {
    margin-bottom: 10px;
}

.newtask-save {
    width: 100%;
    background-color: rgb(32, 72, 119);
    border-radius: 4px;
    padding: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.newtask-save:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}




.card-title{
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    text-align: left;
    color: #000000;
}
.card-subtitle{
    font-size: 12px;
    font-weight: 600;
    color: #221C1D;
    text-align: left;
    margin-top: 3px;
    padding: 10px 10px;
}
.card-subsubtitle {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #221C1D;
    font-weight: 700;
    margin-top: 3px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 6px;
}
.card-text{
    text-align: center;
    color: #86878B;
    margin-top: 3px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.card-title{
    background:#ffffff;
    position: relative;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

}
.card-subtitle {
    background:#ffffff;
    border-radius: 4px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 16px;
}
.card-navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-subtitle_status {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #221C1D;
    border: 0em;
    background-color: #B8EBB0;
    border-radius: 15px;
    margin-bottom: 8px;
    padding: 4px 8px;
}
.card-subtitle_status2 {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #221C1D;
    border: 0em;
    background-color: #F0CA81;
    border-radius: 15px;
    margin-bottom: 8px;
    padding: 4px 8px;
}
.card-subtitle_status3 {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border: 0em;
    background-color: #DE1D3E;
    border-radius: 15px;
    margin-bottom: 8px;
    padding: 4px 8px;
}
.button-version{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: left;
    flex-wrap: wrap;
}
.card-subtitle_version1{
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border: 0em;
    background-color: #DE1D6E;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
}
.card-subtitle_version2{
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border: 0em;
    background-color: #4F1DDE;
    border-radius: 4px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
}
.subtitle-date{
    font-size: 11px;
    font-weight: 500;
    text-align: left;
    color: #666666;
    margin-bottom: 8px;
}
.icon-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
.customers-icon {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 5px;
}
.customers-content_icon {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.card-subsubtitle {
    height: 161px;
    background:#ffffff;
    border: solid 1px #666666;
    border-radius: 4px;
    position: relative;
    padding-bottom: 10px;
}
.card-text {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #221C1D;
    position: relative;
    padding-bottom: 10px;
}
.card-subtitle:hover {
    text-align: left;
    background:#fbfff9;
    color: #000000;
    position: relative;
    font-weight: 700;
}
.card-add{
    border: none;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #221C1D;
    position: relative;
    padding:0 16px;
    margin-bottom: 16px;
}
.container {
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
}

.kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}

.kanban-heading-text {
    font-size: 1.8rem;
    background-color: tomato;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

.kanban-block,
.create-new-task-block {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
}

#todo {
    background-color: #fec6d1;
}

#inprogress {
    background-color: #ffaf00;
    /* display: none; */
}

#done {
    background-color: #018b01;
    /* display: none; */
}

.task {
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
}

#task-button {
    margin: 0.2rem 0rem 0.1rem 0rem;
    background-color: white;
    border-radius: 0.2rem;
    width: 100%;
    border: 0.25rem solid black;
    padding: 0.5rem 2.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.create-new-task-block {
    display: none;
    /* display: flex; */
    background: #ffaf00;
    width: 64.4%;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
}

.form-row-label {
    width: 15%;
    padding: 0.2rem;
    padding-right: 0.5rem;
    border: 0.1rem solid black;
    border-right: 0;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
}

.form-row-input {
    border: 0.1rem solid black;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    width: 85%;
}

textarea {
    resize: none;
}

.form-row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem;
}

#edit-button,
#save-button,
#cancel-button {
    margin: 0.2rem 0rem 0.1rem 0rem;
    background-color: white;
    border-radius: 0.2rem;
    width: 49.2%;
    border: 0.25rem solid black;
    padding: 0.5rem 2.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

#edit-button {
    display: none;
}
.board-card_editCard {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background: none;
    color: #221C1D;
    border: 0em;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 4px 8px;
    transition: 0.5s;
}

.board-card_editCard:hover {
    background-color: rgb(32, 72, 119);
    color: #fff;
}
